<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="LambdaLoader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <LambdaLoader.Properties.Settings>
      <setting name="UserSelectedFolderPath" serializeAs="String">
        <value />
      </setting>
      <setting name="Hostname" serializeAs="String">
        <value>A Lambda Launcher Server</value>
      </setting>
      <setting name="MaxPlayers" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="ServerPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="ValidTeams" serializeAs="String">
        <value>robo;hgrunt</value>
      </setting>
      <setting name="FragLimit" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FallingDamage" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Teamplay" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FriendlyFire" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WeaponsStay" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ForceRespawn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Footsteps" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Flashlight" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Autocrosshair" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableSteamNet" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TimeLimit" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastRanMap" serializeAs="String">
        <value>crossfire</value>
      </setting>
      <setting name="nMapFinal" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Shaders" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MaxSpeed" serializeAs="String">
        <value>270</value>
      </setting>
      <setting name="Gravity" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="barney" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="gman" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="gordon" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="helmet" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="hgrunt" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="recon" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="robo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="scientist" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="zombie" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Interlock_FF" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TeamplayTotal" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ServerConfigMethod" serializeAs="String">
        <value>Basic</value>
      </setting>
      <setting name="AdvCMDargs" serializeAs="String">
        <value />
      </setting>
      <setting name="ExePath" serializeAs="String">
        <value>\hl.exe</value>
      </setting>
      <setting name="LaunchCMDargs" serializeAs="String">
        <value />
      </setting>
      <setting name="GameProfile" serializeAs="String">
        <value>Default.llgp</value>
      </setting>
      <setting name="FavoriteMapPath" serializeAs="String">
        <value />
      </setting>
      <setting name="GameProfileNoExt" serializeAs="String">
        <value />
      </setting>
      <setting name="GameProfileName" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoImportRan" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SelectedTheme" serializeAs="String">
        <value>Slate</value>
      </setting>
      <setting name="UseFFTotal" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MaxDownloadSpeed" serializeAs="String">
        <value>False</value>
      </setting>
    </LambdaLoader.Properties.Settings>
  </userSettings>
</configuration>
